.body_backgorund {
    background-color: crimson;
    background-position : center;
    background-size: cover;
  }
  body{
    cursor: pointer;
  }
  h1
  {
      color: red; 
      font-size: 20px;
  }
  #my_canvas
  {
      border-width:10px;
      background-color: white; 
      border-style:ridge;
  }

  input
  {
    margin-right: 20px;
  }
  